<a href="https://colab.research.google.com/github/Rohini2407/Rohi/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files

In [2]:
upload = files.upload()

Saving Customers.csv to Customers.csv

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("Customers.csv")

In [6]:
df.head()

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6

In [7]:
df.sort_values(by=['Profession','Annual Income ($)'],ascending=[True,False],inplace=True)

In [8]:
df[['Profession','Annual Income ($)']].head(10)

     Profession  Annual Income ($)
1825     Artist             189709
1165     Artist             189498
658      Artist             189446
921      Artist             189091
652      Artist             189072
970      Artist             188620
1293     Artist             187898
1041     Artist             187841
416      Artist             187667
1306     Artist             187643

In [9]:
df.nsmallest(10,'Spending Score (1-100)')

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
249,250,Female,89,65000,0,Engineer,0,5
202,203,Female,16,60000,0,Engineer,6,8
514,515,Male,81,83771,1,Artist,1,2
1435,1436,Female,18,82812,1,Artist,6,2
391,392,Male,1,89144,1,Doctor,12,2
1080,1081,Female,81,155396,1,Engineer,9,5
1547,1548,Female,91,107323,1,Engineer,7,7
1050,1051,Male,46,149764,1,Entertainment,0,6
544,545,Female,33,88763,1,Entertainment,1,1
1623,1624,Male,81,71543,1,Entertainment,1,4

In [10]:
df.nlargest(10,'Annual Income ($)')

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
569,570,Female,91,189974,37,Engineer,8,1
1257,1258,Male,60,189945,20,Engineer,0,5
1825,1826,Male,7,189709,18,Artist,6,6
1576,1577,Female,16,189689,37,Healthcare,8,5
638,639,Female,59,189672,8,Doctor,0,7
1801,1802,Male,20,189650,60,Lawyer,8,4
736,737,Female,33,189630,53,Executive,5,5
1165,1166,Male,19,189498,18,Artist,4,1
658,659,Female,31,189446,38,Artist,1,6
805,806,Female,30,189369,69,Healthcare,0,3

In [11]:
df['Profession'].value_counts()

Artist           612
Healthcare       339
Entertainment    234
Engineer         179
Doctor           161
Executive        153
Lawyer           142
Marketing         85
Homemaker         60
Name: Profession, dtype: int64

In [13]:
df['Spending Score (1-100)'].median()

50.0

In [14]:
prof_grp = df.groupby(['Profession'])

In [17]:
prof_grp.get_group('Engineer')

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
569,570,Female,91,189974,37,Engineer,8,1
1257,1258,Male,60,189945,20,Engineer,0,5
777,778,Male,94,188107,52,Engineer,10,2
1107,1108,Male,36,187305,85,Engineer,6,7
1588,1589,Female,48,186445,41,Engineer,0,1
...,...,...,...,...,...,...,...,...
250,251,Male,80,20000,93,Engineer,1,3
289,290,Female,93,19000,58,Engineer,1,3
152,153,Female,44,17000,20,Engineer,0,2
263,264,Female,64,13000,38,Engineer,3,4
10,11,Male,67,7000,14,Engineer,1,3

In [18]:
filt=df['Profession']=='Engineer'
df.loc[filt]['Gender'].value_counts()

Female    103
Male       76
Name: Gender, dtype: int64

In [19]:
prof_grp['Gender'].value_counts()

Profession     Gender
Artist         Female    380
               Male      232
Doctor         Female     89
               Male       72
Engineer       Female    103
               Male       76
Entertainment  Female    133
               Male      101
Executive      Female     87
               Male       66
Healthcare     Female    196
               Male      143
Homemaker      Female     39
               Male       21
Lawyer         Female     86
               Male       56
Marketing      Female     53
               Male       32
Name: Gender, dtype: int64

In [20]:
prof_grp['Gender'].value_counts().loc['Doctor']

Gender
Female    89
Male      72
Name: Gender, dtype: int64

In [21]:
income = prof_grp['Spending Score (1-100)'].median()

In [22]:
income

Profession
Artist           52.0
Doctor           50.0
Engineer         47.0
Entertainment    53.0
Executive        49.0
Healthcare       51.0
Homemaker        45.5
Lawyer           49.0
Marketing        46.0
Name: Spending Score (1-100), dtype: float64

In [24]:
prof_grp['Spending Score (1-100)'].median().loc['Doctor']

50.0

In [25]:
prof_grp['Engineer'].agg(['median','mean'])

KeyError: ignored

In [26]:
prof_grp['Annual Income ($)'].agg(['median','mean']).loc['Engineer']

median    112766.000000
mean      111161.240223
Name: Engineer, dtype: float64

In [27]:
gen=prof_grp['Gender'].apply(lambda x: x.str.contains('Female').sum())

In [28]:
gen

Profession
Artist           380
Doctor            89
Engineer         103
Entertainment    133
Executive         87
Healthcare       196
Homemaker         39
Lawyer            86
Marketing         53
Name: Gender, dtype: int64

In [29]:
fem_df2=pd.concat([income,gen],axis=1,sort=False)

In [30]:
fem_df2

               Spending Score (1-100)  Gender
Profession
Artist                           52.0     380
Doctor                           50.0      89
Engineer                         47.0     103
Entertainment                    53.0     133
Executive                        49.0      87
Healthcare                       51.0     196
Homemaker                        45.5      39
Lawyer                           49.0      86
Marketing                        46.0      53

In [34]:
fem_df2.sort_values(by = 'Profession',ascending = False)

               Spending Score (1-100)  Gender
Profession
Marketing                        46.0      53
Lawyer                           49.0      86
Homemaker                        45.5      39
Healthcare                       51.0     196
Executive                        49.0      87
Entertainment                    53.0     133
Engineer                         47.0     103
Doctor                           50.0      89
Artist                           52.0     380